<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Students data</title>
</head>
<body>
    <div class="container">
        <h1 class="md-4">Students Data</h1>
        <a href="/students/new" class="btn btn-success btn-rounded"> New Student</a> 

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Mobile No</th>
                    <th scope="col">Email</th>
                    <th scope="col">Profile Picture</th>
                  </tr>
                </thead>
                <tbody>
                
                <% students.forEach(student =>{ %>
                  <tr>
                    <td><%= student.firstName %></td>
                    <td><%= student.lastName %></td>
                    <td><%= student.age %></td>
                    <td><%= student.mobileNo %></td>
                    <td><%= student.email %></td>
                    <td><%= student.profilePic %></td>
                    <td href="student/edit/<%= student.firstName %>" class="btn btn-info">Edit</td>
                    
                  </tr>
                <% }) %>
                </tbody>
              </table>
              

    </div>
    
      
</body>
</html>